@import "config";

.app {
  &__main {
    background-image: linear-gradient(
        rgba(80, 80, 80, 0.8),
        rgba(80, 80, 80, 0.8)
      ),
      url("../../assets/img/xbox.svg"), linear-gradient(white, white);
    background-size: 160px 40px;
    background-position: 0 0;
  }
}
